name: Build DTW Desktop

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore DTWDesktop/DigitalTacticalWorksheet/DigitalTacticalWorksheet.csproj

      - name: Build single-file EXE
        run: dotnet publish DTWDesktop/DigitalTacticalWorksheet/DigitalTacticalWorksheet.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -p:DebugType=None -p:ErrorReport=none

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: DTW-Desktop
          path: DTWDesktop/DigitalTacticalWorksheet/bin/Release/net8.0-windows/win-x64/publish/
