name: Build DTW Desktop

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        working-directory: DTWDesktop/DigitalTacticalWorksheet
        run: dotnet restore

      - name: Build
        working-directory: DTWDesktop/DigitalTacticalWorksheet
        run: dotnet publish -c Release -r win-x64 --self-contained false -p:PublishSingleFile=true

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: DTW-Desktop
          path: DTWDesktop/DigitalTacticalWorksheet/bin/Release/net8.0-windows/win-x64/publish/
